{% load staticfiles %}

<div id="modalAddServicesAlone" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a Thredds Server File</h4>
            </div>
            <div class="modal-body">
              <form id="modalAddServiceAloneForm">

                <br>
                <label for="addService-title">Title (Required):</label>
                <input type="text" class="form-control" name="addService-title" id="addService-title" placeholder="Please enter a valid Title">
                <label for="addService-description"> Description (Required): </label>
                <textarea name="textarea" rows="10" cols="50" class="form-control" name="addService-description" id="addService-description" placeholder="Please enter a valid Description"></textarea>
                <!-- <input type="text" class="form-control" name="addGroup-description" id="addGroup-description" placeholder="Please enter a valid description for the HydroServer Group"> -->
                <br>
                <div class="form-row">
                    <div class="col-md-12 mb-3 form-group" id = "littleSearch">
                        <div class="input_url">
                          <label for="url">Endpoint/URL (Required):</label>
                          <div class="buttons_url">
                            <input type="text" class="form-control" name="url" id="url">

                            <button id= "btn-check_available_serv" type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-right"></span></button>
                          </div>
                        </div>

                    </div>
                    <img id="loading-group" class="view-file hidden" src="{% static 'metdataexplorer2/images/loading.gif' %}" />
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3 form-group hidden" id="available_services">
                      <br>

                      <div class="accordion" id="folders_structures">
                        <div class="panel-group" id="current-Files" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default">
                            <div class="panel-heading buttonAppearance" role="tab">
                                <button id= "btn-uplevel" type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                <br>
                                <a role="button" data-toggle="collapse" data-target="#collapse_structure" href="#collapse_structure" aria-expanded="true" aria-controls="collapse_structure">
                                <span class="group-name"> Folders/Files </span>
                                </a>
                            </div>
                            <div id="collapse_structure" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_${title}">
                              <div class="panel-body">
                                <table id="filetree-div" class="table table-hover inner-div">
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div>
                  <label for="epsg-input" style="float: left;">EPSG Code:</label>
                  <input id="epsg-input" class="form-control">
                  <label for="spatial-input" style="float: left;">Spatial Extents: </label>
                  <br>
                  <input id="spatial-input" class="form-control">

                  <div class = "buttons_spatial">
                      <button id="upload-shape-resource" type="button" class="btn btn-info button_h">Upload Shapefile</button>
                      <button id="draw-on-map-button" type="button" class="btn btn-info button_h">Draw on Map</button>
                      <button id="link-geoserver" type="button" class="btn btn-info button_h">Geoserver</button>
                  </div>
                </div>
                <div class="form-row hidden">
                  <div class="col-md-12 mb-3 form-group" id="metadata_available">
                    <div id="file-info-div">
                      <div class = "variables_times">
                        <label for="variable-input">Variables:</label>
                        <select id="variable-input" class="selectpicker" data-live-search="false" data-width="fit" data-size="mini" data-style="btn-info"></select>
                      </div>
                      <div class = "variables_times">
                        <label for="time" >Time:</label>
                        <select id="time" class="selectpicker" data-live-search="false" data-width="fit" data-size="mini" data-style="btn-info"></select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row" id = "groups_variables_div">
                  <div style="width: 100%; flex-direction: column;">
                    <b style="float: left; font-size: 11pt; color: #333; padding-top: 25px;">Variables:</b><br>
                    <div style="display: flex; flex-direction: row; width: 100%;">
                      <!-- <input id="add-attribute" class="inputsty"> -->
                      <input type="text" id="add-attribute" class= "form-control" placeholder="Search for variable" title="Type in a variable">

                      <button id="select-all-button" type="button" class="btn btn-info" data-select="true"><span class="glyphicon glyphicon-unchecked"></span></button>
                    </div>
                    <br>

                    <div id="table_wrapper">
                      <table id="attributes_table" class="table table-hover table-condensed">
                        <thead>
                          <tr>
                            <th scope="col">Select</th>
                            <th scope="col">Variable</th>
                            <th scope="col">Dimensions</th>
                          </tr>
                        </thead>
                        <tbody id="attributes">

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>

                <div class="loading_id">
                </div>
                <div class="warning"> </div>

              </form>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-addServiceAlone" class="btn btn-success"> Add Thredds File</button>
                </div>
            </div>
        </div>
    </div>
</div>
